extends layout

block content
    .container
        .row
            .col-md-3.col-md-offset-3.scoreBoard
                h1
                    span#p1Score
            .col-md-3.scoreBoard
                h1.text-right
                    span#p2Score
        .row
            .col-md-6.col-md-offset-3#gameBoard
                h1.text-center.colorDark Enter your name
                .panel.panel-danger
                      .panel-body
                        .input-group
                            input#nickname.form-control.input-lg( autofocus )
                            span.input-group-btn
                                button#startBtn.btn.btn-lg.btn-danger PLAY!